.navbar {
    background-color: rgba(122, 248, 248, 0.354);
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0 20%;

    >div {
        height: 50px;
        display: flex;
        align-items: center;
        /* background-color: rgba(122, 248, 248, 0.354); */

        >div {
            display: flex;
            height: 100%;
            margin-left: 10px;

            * {
                display: flex;
                align-items: center;
                height: 100%;
                color: rgb(88, 88, 88);
            }

            >i {

                margin-right: 3px;

                >svg {

                    width: 15px;
                    height: 15px;
                }
            }

            >span {
                /* border: 1px solid black; */
                height: 100%;
                display: flex;
                align-items: center;
                font-size: 14px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                &:hover {
                    color: rgb(5, 5, 5);
                }
            }
        }
    }

    >nav {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: end;

        >i {
            /* border: 1px solid black; */
            height: 50px;
            width: 40px;
            align-items: center;
            justify-content: center;
            display: flex;

            >svg {
                color: rgb(88, 88, 88);
                height: 20px;
                width: 20px;
            }
        }
    }
}


.img {
    background-image: url(../image/banner-bg.jpg.webp);
    background-size: cover;
    width: 100%;
    height: 900px;
    padding-top: 50px;
    position: relative;

    /* border: 1px solid black; */
}

header {
    background-color: rgba(39, 31, 31, 0.228);
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
    width: 100%;
    height: 50px;
    /* border: 1px solid rgb(11, 11, 10); */
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 999;

    >.logo {
        width: 200px;
        height: 50px;

        display: flex;
        align-items: center;
    }

    >.menu {
        width: 500px;
        height: 50px;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        justify-content: end;

        >ul {
            display: flex;
            align-items: center;

            >li {
                padding: 0 20px;
                position: relative;

                &:hover {
                    >a {
                        color: blue;
                    }

                    >ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                >a {
                    text-transform: capitalize;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: bold;

                }

                >ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 33px;
                    /* margin-top: 108px; */
                    background-color: white;
                    /* padding: 10px; */
                    width: 200px;
                    height: 80px;
                    transition: .4s;

                    >li {
                        /* position: fixed;
                        left: 0;
                        top: 0; */
                        width: 200px;
                        height: 40px;
                        background-color: rgba(15, 12, 12, 0.152);

                        >a {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            padding-left: 10px;
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                            &:hover {
                                color: blue;
                            }

                        }
                    }
                }
            }
        }
    }
}

.me {
    >img {
        width: 150px;
        height: 150px;
        border: 1px solid white;
        border-radius: 50%;
        position: fixed;
        right: 0;
        bottom: 0;
    }

    >span {
        font-size: 18px;
        color: white;
        background-color: rgba(0, 0, 0, 0.413);
        text-transform: capitalize;
        position: fixed;
        right: 30px;
        bottom: 18px;
    }
}

/* ////end my pic //// */
.cover {

    height: 300px;
    /* border: 1px solid black; */
    position: absolute;
    top: 400px;
    left: 400px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    * {
        margin-top: 10px;
    }

    >span {
        color: rgb(75, 74, 74);

    }

    >h2 {
        font-size: 45px;
    }

    >p {
        font-size: 15px;
        font: 200;
        color: rgb(88, 88, 88);
        font-variant: normal;
        font-family: 'Times New Roman', Times, serif;

    }

    >li {
        width: 200px;
        height: 50px;
        margin-top: 30px;

        &:hover {
            scale: 1.05;


        }

        >a {
            background-color: rgb(65, 77, 245);
            padding: 13px 25px;
            color: white;
            font-family: 'Times New Roman', Times, serif;



        }
    }
}

.card {
    margin-top: 120px;
    margin-left: 400px;
    width: 60%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;

    >div {
        width: 250px;
        height: 320px;
        /* border: 1px solid rgb(195, 68, 68); */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* ok */
        background-color: #f9f9fd;
        margin-left: 20px;

        &:hover {
            background-color: white;
            scale: 1.1;
            border: 1px solid rgba(142, 161, 181, 0.18);
        }

        * {

            margin-top: 30px;

        }

        /* >img {
        } */

        >h3 {

            font-size: 28px;
            text-align: center;
        }

        >p {

            font-size: 18px;
            color: rgb(88, 88, 88);

        }

    }
}

/* //////end card ////// */
.mid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    gap: 20px;
     margin-bottom: 10%;
   

    * {
        width: 40%;
        height: 500px;
        margin-top: 100px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }

    >.first {

        /* border: 1px solid black; */
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        >h3 {
            margin-top: 40%;
            width: 100%;
            height: 50px;
            font-size: 26px;
            color: blue;
            /* border: 1px solid red; */


        }

        >P {
            margin-top: 5%;
            width: 100%;
            /* border: 1px solid red; */
            font-size: 18px;

        }
    }

    >.last {
        /* border: 1px solid rgb(223, 236, 43); */

        >img {
            margin-top: 0;
            width: 90%;
            height: 500px;

        }
    }
}

/* ///////end middle/////// */


.gallery {
    margin: 0 25%;
    height: 600px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;

    >div {
        height: 50vh;
        /* border: 1px solid red; */
        border-radius: 5%;
        flex-grow: 1;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        display: flex;
        width: 10px;

        &:hover {
            flex-grow: 3;
        }

        &:nth-of-type(1) {
            background-image: url(../image/65955c93-b46d-46cb-96dc-8a88fe9f37ca.jpg);
        }

        &:nth-of-type(2) {
            background-image: url(../image/6f56052b-dbc9-4bb6-8115-c8aae4b250a4.jpg);

        }

        &:nth-of-type(3) {
            background-image: url(../image/5.jpg);

        }

        &:nth-of-type(4) {
            background-image: url(../image/6.jpg);

        }

        &:nth-of-type(5) {
            background-image: url(../image/b6229876-3f22-4743-a78d-ab3ff17c96ac.jpg);

        }

        &:nth-of-type(6) {
            background-image: url(../image/76939c52-6653-42b8-8e6b-2bde30fcc469.jpg);

        }
    }
}

/* footer area ///// */
.footer {
    padding: 0 20%;
    width: 100%;
    height: 450px;
    background-color: rgb(2, 103, 103);
    display: flex;
    align-items: center;


    >.row {
        width: 100%;
        height: 300px;
        /* border: 1px solid rgb(197, 8, 8); */
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: white;

        >.left {
            padding-top: 30px;
            display: flex;
            /* border: 1px solid rgb(199, 240, 75); */
            width: 50%;
            flex-flow: column;
            align-items: center;
            /* justify-content: center; */

            >h3 {
                font-size: 28px;
                margin-bottom: 10px;
            }

            >ul {

                >li {
                    padding: 7px 0;

                    >a {
                        &:hover {
                            color: rgba(122, 248, 248, 0.948);
                        }
                    }
                }
            }
        }

        >.right {
            /* border: 1px solid rgb(199, 240, 75); */
            width: 50%;
            display: flex;
            flex-flow: column;
            align-items: center;
            /* padding-left: 15%; */
            justify-content: center;

            >.rn {
                margin-bottom: 10px;
                >img {
                    width: 150px;
                    height: 150px;
                }
            }

            >h4 {
                font-size: 22px;
            }

            >.icon {
                margin-top: 20px;
                display: flex;
                align-items: center;
                /* border: 1px solid black; */

                >li {
                    width: 45px;
                    height: 45px;
                    /* border: 1px solid black; */
                    border-radius: 10%;
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: rgb(2, 103, 103);

                    &:hover {
                        color: white;
                        background-color: black;
                    }

                    >svg {
                        width: 35px;
                        height: 35px;

                    }
                }
            }



        }
    }

}
